* {
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  /* ripple2에서는 white 배경에 명도에 따라 크기가 다양한 검정색 dot을 찍어서 점묘화로 표현해줄거임 */
  background-color: #fff; 
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
}
